<div class="homepage">
<ul>
        <li><a href="#!Home">Home</a></li>
        <ul>
            
            
        </ul>
        <li><a href="#!main">Main</a></li>
 
        <li><a href="#">About Us</a>
            <ul>
                <li>P</li>
                <li>V</li>
                <li>B</li>
                <li>M</li>
                <li></li>
                <li></li>
                
            </ul>
        </li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Setting</a></li>
        <li><i class="fa fa-shopping-cart" aria-hidden="true"></i></li>
    

        

    </ul>
    </div>