<div ng-controller="security" >
    <div class="login-page">
    <center > 
      
        <h1>Log in</h1>
       
         <i class="fa fa-user" aria-hidden="true" style="color: red"></i>
        <input type="text" id="name" ng-model="emailid" placeholder="Email Id / password"><br><br>
        
        <i class="fa fa-lock" aria-hidden="true" style="color: red"></i>
        <input type="password" ng-model ="password" placeholder="enter your password"><br><br>
            
        
        <input type="button" ng-click = "submit()" value="Submit"><br><br>
        
        <a href="#!Forget password">forgot password ?</a><br><br>
        <a href="#!signup">Don't have account ?</a>
    </center>

</div>
</div>