<div ng-controller="onlineOrder" >
    
   <h1> <label>{{welcome_Msg}}</label></h1>
   <h1><label>{{myData}}</label></h1>
    <center class="main-page">

   
   <input type="button" ng-click="login()" value="Log in">
    
    <input type="button" ng-click="signup()" value="Create an account">
   
        </center>
    <center > 
       <div >
        <img src="" > <br><br>
        
         
        <i class="fa fa-search" aria-hidden="true" style="color: rgb(230, 20, 20);font-size:22px;" > </i>
         
            <input type="text" class="logo" placeholder="Enter your location">
        <input type="button"class='btn' ng-click="search()" value="Search">  
            </div>
    </center>
     
    
</div>
