/* Sidebar */
#sidebar-wrapper{
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: #2C3E50;
}

/* Always take up entire screen */
#page-content-wrapper{
    width: 100%;
    position: absolute;
    padding: 15px;
}

/* Change with of sidebar from 0 to 250px */
#wrapper.menuDisplayed #sidebar-wrapper{
    width: 250px;
}

/* Since we added left padding, we need to shrink the width by 250px */
#wrapper.menuDisplayed #page-content-wrapper{
    padding-left: 250px;
}

/* Sidebar styling - the entire ul list */
.sidebar-nav{
    padding: 0;
    list-style: none;
}

.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover{
    background: #16A085;
}